.container {
  display: flex;
  flex-direction:row;
  gap: 10px;
  height: 100vh; /* 可根据需要调整高度 */
}

.lf {
  width:60%;
  //background-color: red;
  //padding: 10px;
}
.lf-top {
  height:50vh;
  //background-color: #20a0ff;
}

.lf-btm {
  margin: 10px;
}

.rg {
  width:40%;
  //background-color: green;
  //gap: 10px;
}

.rf-top {
  padding: 10px;
}

.rg-btm {
  padding: 10px;
}

/* 可以根据需要调整每个区域的样式、大小和内边距等 */
